$dark-primary-color: #616161;
$light-primary-color: #F5F5F5;
$accent-color: #03A9F4;

$primary-text-color: #222222;
$primary-error-color: #ed4337;
$secondary-text-color: #757575;

$darkest-primary-color: $primary-text-color;


$divider-color: #BDBDBD;
$primary-color: #9E9E9E;


$background-color: $light-primary-color;

$header-height: 100px;
$footer-height: 100px;
$default-spacing: 150px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
