@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.main-image {
  &-container {
    z-index: -1;
    object-fit: cover;
    object-position: bottom;
    max-height: 100vh;
    overflow: hidden;
  }
  height: 100vh;
  @include respond-to($gt-sm) {
    height: initial;
  }
}

.main-content {
  margin: 0 auto;
  max-width: 1500px;
  padding: 10px 10px 200px 10px;
  min-height: calc(100vh - ( #{$header-height} + #{$footer-height}));
  position: relative;
}

body {
  overflow: hidden;
}




.big-title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  color: $primary-text-color;
}
